In [1]:
#Import Libraries
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.impute import SimpleImputer
from sklearn.linear_model import LinearRegression, Lasso, Ridge, ElasticNet
import matplotlib.pyplot as plt
from sklearn.preprocessing import OrdinalEncoder
import warnings
warnings.filterwarnings('ignore')

In [2]:
df = pd.read_csv('https://raw.githubusercontent.com/aishwaryamate/Datasets/main/cars.csv')
df

,symboling,normalized-losses,make,fuel-type,body-style,drive-wheels,engine-location,width,height,engine-type,engine-size,horsepower,city-mpg,highway-mpg,price
0,3,?,alfa-romero,gas,convertible,rwd,front,64.1,48.8,dohc,130,111,21,27,13495
1,3,?,alfa-romero,gas,convertible,rwd,front,64.1,48.8,dohc,130,111,21,27,16500
2,1,?,alfa-romero,gas,hatchback,rwd,front,65.5,52.4,ohcv,152,154,19,26,16500
3,2,164,audi,gas,sedan,fwd,front,66.2,54.3,ohc,109,102,24,30,13950
4,2,164,audi,gas,sedan,4wd,front,66.4,54.3,ohc,136,115,18,22,17450
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,-1,95,volvo,gas,sedan,rwd,front,68.9,55.5,ohc,141,114,23,28,16845
201,-1,95,volvo,gas,sedan,rwd,front,68.8,55.5,ohc,141,160,19,25,19045
202,-1,95,volvo,gas,sedan,rwd,front,68.9,55.5,ohcv,173,134,18,23,21485
203,-1,95,volvo,diesel,sedan,rwd,front,68.9,55.5,ohc,145,106,26,27,22470
204,-1,95,volvo,gas,sedan,rwd,front,68.9,55.5,ohc,141,114,19,25,22625

# EDA

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 15 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   symboling          205 non-null    int64
 1   normalized-losses  205 non-null    object
 2   make               205 non-null    object
 3   fuel-type          205 non-null    object
 4   body-style         205 non-null    object
 5   drive-wheels       205 non-null    object
 6   engine-location    205 non-null    object
 7   width              205 non-null    float64
 8   height             205 non-null    float64
 9   engine-type        205 non-null    object
 10  engine-size        205 non-null    int64
 11  horsepower         205 non-null    object
 12  city-mpg           205 non-null    int64
 13  highway-mpg        205 non-null    int64
 14  price              205 non-null    int64
dtypes: float64(2), int64(5), object(8)
memory usage: 24.2+ KB

In [4]:
df.isna().sum()

symboling            0
normalized-losses    0
make                 0
fuel-type            0
body-style           0
drive-wheels         0
engine-location      0
width                0
height               0
engine-type          0
engine-size          0
horsepower           0
city-mpg             0
highway-mpg          0
price                0
dtype: int64

In [5]:
df['normalized-losses'].value_counts()

?      41
161    11
91      8
150     7
134     6
128     6
104     6
85      5
94      5
65      5
102     5
74      5
168     5
103     5
95      5
106     4
93      4
118     4
148     4
122     4
83      3
125     3
154     3
115     3
137     3
101     3
119     2
87      2
89      2
192     2
197     2
158     2
81      2
188     2
194     2
153     2
129     2
108     2
110     2
164     2
145     2
113     2
256     1
107     1
90      1
231     1
142     1
121     1
78      1
98      1
186     1
77      1
Name: normalized-losses, dtype: int64

In [6]:
df[df['horsepower']=='?']

,symboling,normalized-losses,make,fuel-type,body-style,drive-wheels,engine-location,width,height,engine-type,engine-size,horsepower,city-mpg,highway-mpg,price
130,0,?,renault,gas,wagon,fwd,front,66.5,55.2,ohc,132,?,23,31,9295
131,2,?,renault,gas,hatchback,fwd,front,66.6,50.5,ohc,132,?,23,31,9895

In [7]:
df.replace('?', np.nan, inplace=True)

In [8]:
df.isna().sum()

symboling             0
normalized-losses    41
make                  0
fuel-type             0
body-style            0
drive-wheels          0
engine-location       0
width                 0
height                0
engine-type           0
engine-size           0
horsepower            2
city-mpg              0
highway-mpg           0
price                 0
dtype: int64

In [9]:
df

,symboling,normalized-losses,make,fuel-type,body-style,drive-wheels,engine-location,width,height,engine-type,engine-size,horsepower,city-mpg,highway-mpg,price
0,3,NaN,alfa-romero,gas,convertible,rwd,front,64.1,48.8,dohc,130,111,21,27,13495
1,3,NaN,alfa-romero,gas,convertible,rwd,front,64.1,48.8,dohc,130,111,21,27,16500
2,1,NaN,alfa-romero,gas,hatchback,rwd,front,65.5,52.4,ohcv,152,154,19,26,16500
3,2,164,audi,gas,sedan,fwd,front,66.2,54.3,ohc,109,102,24,30,13950
4,2,164,audi,gas,sedan,4wd,front,66.4,54.3,ohc,136,115,18,22,17450
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,-1,95,volvo,gas,sedan,rwd,front,68.9,55.5,ohc,141,114,23,28,16845
201,-1,95,volvo,gas,sedan,rwd,front,68.8,55.5,ohc,141,160,19,25,19045
202,-1,95,volvo,gas,sedan,rwd,front,68.9,55.5,ohcv,173,134,18,23,21485
203,-1,95,volvo,diesel,sedan,rwd,front,68.9,55.5,ohc,145,106,26,27,22470
204,-1,95,volvo,gas,sedan,rwd,front,68.9,55.5,ohc,141,114,19,25,22625

In [11]:
df['normalized-losses']

0      NaN
1      NaN
2      NaN
3      164
4      164
      ...
200     95
201     95
202     95
203     95
204     95
Name: normalized-losses, Length: 205, dtype: object

In [10]:
df.dtypes

symboling              int64
normalized-losses     object
make                  object
fuel-type             object
body-style            object
drive-wheels          object
engine-location       object
width                float64
height               float64
engine-type           object
engine-size            int64
horsepower            object
city-mpg               int64
highway-mpg            int64
price                  int64
dtype: object

In [12]:
si = SimpleImputer(strategy='median')

In [13]:
df

,symboling,normalized-losses,make,fuel-type,body-style,drive-wheels,engine-location,width,height,engine-type,engine-size,horsepower,city-mpg,highway-mpg,price
0,3,NaN,alfa-romero,gas,convertible,rwd,front,64.1,48.8,dohc,130,111,21,27,13495
1,3,NaN,alfa-romero,gas,convertible,rwd,front,64.1,48.8,dohc,130,111,21,27,16500
2,1,NaN,alfa-romero,gas,hatchback,rwd,front,65.5,52.4,ohcv,152,154,19,26,16500
3,2,164,audi,gas,sedan,fwd,front,66.2,54.3,ohc,109,102,24,30,13950
4,2,164,audi,gas,sedan,4wd,front,66.4,54.3,ohc,136,115,18,22,17450
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,-1,95,volvo,gas,sedan,rwd,front,68.9,55.5,ohc,141,114,23,28,16845
201,-1,95,volvo,gas,sedan,rwd,front,68.8,55.5,ohc,141,160,19,25,19045
202,-1,95,volvo,gas,sedan,rwd,front,68.9,55.5,ohcv,173,134,18,23,21485
203,-1,95,volvo,diesel,sedan,rwd,front,68.9,55.5,ohc,145,106,26,27,22470
204,-1,95,volvo,gas,sedan,rwd,front,68.9,55.5,ohc,141,114,19,25,22625

In [15]:
df.iloc[:,[1,11]]

    normalized-losses horsepower
0                 NaN        111
1                 NaN        111
2                 NaN        154
3                 164        102
4                 164        115
..                ...        ...
200                95        114
201                95        160
202                95        134
203                95        106
204                95        114

[205 rows x 2 columns]

In [16]:
df[['normalized-losses','horsepower']]

    normalized-losses horsepower
0                 NaN        111
1                 NaN        111
2                 NaN        154
3                 164        102
4                 164        115
..                ...        ...
200                95        114
201                95        160
202                95        134
203                95        106
204                95        114

[205 rows x 2 columns]

In [18]:
df.loc[:,['normalized-losses','horsepower']]

    normalized-losses horsepower
0                 NaN        111
1                 NaN        111
2                 NaN        154
3                 164        102
4                 164        115
..                ...        ...
200                95        114
201                95        160
202                95        134
203                95        106
204                95        114

[205 rows x 2 columns]

In [25]:
df.iloc[:,[1,11]]  = si.fit_transform(df.iloc[:,[1,11]])

In [26]:
df.isna().sum()

symboling            0
normalized-losses    0
make                 0
fuel-type            0
body-style           0
drive-wheels         0
engine-location      0
width                0
height               0
engine-type          0
engine-size          0
horsepower           0
city-mpg             0
highway-mpg          0
price                0
dtype: int64

In [34]:
df.select_dtypes([int,float])

,symboling,normalized-losses,width,height,engine-size,horsepower,city-mpg,highway-mpg,price
0,3,115.0,64.1,48.8,130,111.0,21,27,13495
1,3,115.0,64.1,48.8,130,111.0,21,27,16500
2,1,115.0,65.5,52.4,152,154.0,19,26,16500
3,2,164.0,66.2,54.3,109,102.0,24,30,13950
4,2,164.0,66.4,54.3,136,115.0,18,22,17450
...,...,...,...,...,...,...,...,...,...
200,-1,95.0,68.9,55.5,141,114.0,23,28,16845
201,-1,95.0,68.8,55.5,141,160.0,19,25,19045
202,-1,95.0,68.9,55.5,173,134.0,18,23,21485
203,-1,95.0,68.9,55.5,145,106.0,26,27,22470
204,-1,95.0,68.9,55.5,141,114.0,19,25,22625

In [27]:
df

,symboling,normalized-losses,make,fuel-type,body-style,drive-wheels,engine-location,width,height,engine-type,engine-size,horsepower,city-mpg,highway-mpg,price
0,3,115.0,alfa-romero,gas,convertible,rwd,front,64.1,48.8,dohc,130,111.0,21,27,13495
1,3,115.0,alfa-romero,gas,convertible,rwd,front,64.1,48.8,dohc,130,111.0,21,27,16500
2,1,115.0,alfa-romero,gas,hatchback,rwd,front,65.5,52.4,ohcv,152,154.0,19,26,16500
3,2,164.0,audi,gas,sedan,fwd,front,66.2,54.3,ohc,109,102.0,24,30,13950
4,2,164.0,audi,gas,sedan,4wd,front,66.4,54.3,ohc,136,115.0,18,22,17450
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,-1,95.0,volvo,gas,sedan,rwd,front,68.9,55.5,ohc,141,114.0,23,28,16845
201,-1,95.0,volvo,gas,sedan,rwd,front,68.8,55.5,ohc,141,160.0,19,25,19045
202,-1,95.0,volvo,gas,sedan,rwd,front,68.9,55.5,ohcv,173,134.0,18,23,21485
203,-1,95.0,volvo,diesel,sedan,rwd,front,68.9,55.5,ohc,145,106.0,26,27,22470
204,-1,95.0,volvo,gas,sedan,rwd,front,68.9,55.5,ohc,141,114.0,19,25,22625

# Encoding

In [ ]:
#Selecting only categorical columns

In [36]:
df.select_dtypes(object).columns

Index(['make', 'fuel-type', 'body-style', 'drive-wheels', 'engine-location',
       'engine-type'],
      dtype='object')

In [37]:
cat_cols = df.select_dtypes(object).columns
cat_cols

Index(['make', 'fuel-type', 'body-style', 'drive-wheels', 'engine-location',
       'engine-type'],
      dtype='object')

In [38]:
df[cat_cols]

,make,fuel-type,body-style,drive-wheels,engine-location,engine-type
0,alfa-romero,gas,convertible,rwd,front,dohc
1,alfa-romero,gas,convertible,rwd,front,dohc
2,alfa-romero,gas,hatchback,rwd,front,ohcv
3,audi,gas,sedan,fwd,front,ohc
4,audi,gas,sedan,4wd,front,ohc
...,...,...,...,...,...,...
200,volvo,gas,sedan,rwd,front,ohc
201,volvo,gas,sedan,rwd,front,ohc
202,volvo,gas,sedan,rwd,front,ohcv
203,volvo,diesel,sedan,rwd,front,ohc
204,volvo,gas,sedan,rwd,front,ohc

In [39]:
oe = OrdinalEncoder()

df[cat_cols] = oe.fit_transform(df[cat_cols])

In [40]:
df

,symboling,normalized-losses,make,fuel-type,body-style,drive-wheels,engine-location,width,height,engine-type,engine-size,horsepower,city-mpg,highway-mpg,price
0,3,115.0,0.0,1.0,0.0,2.0,0.0,64.1,48.8,0.0,130,111.0,21,27,13495
1,3,115.0,0.0,1.0,0.0,2.0,0.0,64.1,48.8,0.0,130,111.0,21,27,16500
2,1,115.0,0.0,1.0,2.0,2.0,0.0,65.5,52.4,5.0,152,154.0,19,26,16500
3,2,164.0,1.0,1.0,3.0,1.0,0.0,66.2,54.3,3.0,109,102.0,24,30,13950
4,2,164.0,1.0,1.0,3.0,0.0,0.0,66.4,54.3,3.0,136,115.0,18,22,17450
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,-1,95.0,21.0,1.0,3.0,2.0,0.0,68.9,55.5,3.0,141,114.0,23,28,16845
201,-1,95.0,21.0,1.0,3.0,2.0,0.0,68.8,55.5,3.0,141,160.0,19,25,19045
202,-1,95.0,21.0,1.0,3.0,2.0,0.0,68.9,55.5,5.0,173,134.0,18,23,21485
203,-1,95.0,21.0,0.0,3.0,2.0,0.0,68.9,55.5,3.0,145,106.0,26,27,22470
204,-1,95.0,21.0,1.0,3.0,2.0,0.0,68.9,55.5,3.0,141,114.0,19,25,22625

In [41]:
df.dtypes

symboling              int64
normalized-losses    float64
make                 float64
fuel-type            float64
body-style           float64
drive-wheels         float64
engine-location      float64
width                float64
height               float64
engine-type          float64
engine-size            int64
horsepower           float64
city-mpg               int64
highway-mpg            int64
price                  int64
dtype: object

# Model building

In [42]:
x = df.iloc[:,:-1]
y = df['price']

In [43]:
xtrain,xtest,ytrain,ytest = train_test_split(x,y,test_size=0.3, random_state=1)

In [44]:
lr = LinearRegression()
lr.fit(xtrain,ytrain)
ypred = lr.predict(xtest)
ypred

array([ 6114.11943789,  6899.1299745 ,  5179.12129606,  6534.49022809,
        9125.91144455, 26384.12259969,  7406.15558344,   895.58275157,
        5172.9291232 , 13513.24663171, 15407.85345859, 14421.55136235,
       16418.89788598, 11145.35574554, 16463.66533212, 13896.61774947,
        7335.98228673,  8845.0632645 , 10862.74899523,  7555.18709439,
       11006.99145217,  6830.04912601, 13638.73999814,  6363.9621527 ,
       13732.90563984,  8845.0632645 , 15040.20874209,  6544.19455256,
        4706.60204753,  9314.78618354,  8128.3940468 , 14321.0634702 ,
       25655.82279003, 11987.68138692, 19723.90650907,  6557.53154026,
        8154.91470876, 30658.97297566,  9834.8439003 , 16923.44920496,
        6520.66900847, 20194.14945986,  7692.55861481,  8459.52258636,
        8670.04245903,  7166.21791784, 40486.41308962,  7569.40057796,
       17170.51789287, 18954.92930717, 26190.76513016, 16914.80136249,
       21856.35461232,  6225.96759922, 13090.60124574,  7294.0335782 ,
       11026.86555708, 11260.61809774, 22672.43646491,  8292.10615643,
        9523.00301461, 11224.3749507 ])

In [45]:
lr.intercept_

-64935.1135797823

In [46]:
lr.coef_

array([ 5.71727164e+01,  4.76320989e-01, -2.01309566e+02, -6.22705136e+02,
       -1.63712110e+02,  1.88863899e+03,  1.63884484e+04,  7.90632094e+02,
        3.61221503e+02,  2.81207534e+02,  9.82290864e+01, -1.06474945e+01,
        3.08435166e+02, -4.17126915e+02])

In [47]:
lr.score(xtrain,ytrain), lr.score(xtest,ytest)

(0.8504229026078214, 0.7964854785429524)

# Lasso

In [48]:
l1 = Lasso()
l1.fit(xtrain,ytrain)
l1.score(xtrain,ytrain), l1.score(xtest,ytest)

(0.8504215478243031, 0.7966615211575686)

In [49]:
l1.coef_

array([ 5.70766693e+01,  4.67141700e-01, -2.01139953e+02, -6.14206970e+02,
       -1.64751649e+02,  1.88558824e+03,  1.63181959e+04,  7.88680118e+02,
        3.61783500e+02,  2.81248690e+02,  9.83193653e+01, -1.05310631e+01,
        3.07274772e+02, -4.15725804e+02])

# Hyperparameter Tuning

In [52]:
for i in range(100,200):
    l1 = Lasso(alpha=i)
    l1.fit(xtrain,ytrain)
    print(f"Alpha: {i} Train : {l1.score(xtrain,ytrain)} Test: {l1.score(xtest,ytest)}")

Alpha: 100 Train : 0.83724839740265 Test: 0.8092040910955616
Alpha: 101 Train : 0.8369899229541411 Test: 0.809297961073826
Alpha: 102 Train : 0.8367288785613759 Test: 0.8093910017461712
Alpha: 103 Train : 0.8364651676681871 Test: 0.8094832684251525
Alpha: 104 Train : 0.8361989818307349 Test: 0.8095746503624813
Alpha: 105 Train : 0.8359302253870348 Test: 0.8096652035299015
Alpha: 106 Train : 0.8356588978359676 Test: 0.8097549282309102
Alpha: 107 Train : 0.8353849991129143 Test: 0.809843824515556
Alpha: 108 Train : 0.8351084257059384 Test: 0.809931945484127
Alpha: 109 Train : 0.8348293842179737 Test: 0.8100191840285438
Alpha: 110 Train : 0.8345477714936766 Test: 0.8101055942385993
Alpha: 111 Train : 0.8342635877040372 Test: 0.8101911760417997
Alpha: 112 Train : 0.8339767222137543 Test: 0.8102759813628972
Alpha: 113 Train : 0.833687395461321 Test: 0.8103599056262563
Alpha: 114 Train : 0.8333954973355284 Test: 0.8104430016665038
Alpha: 115 Train : 0.8331010276993127 Test: 0.810525269547536
Alpha: 116 Train : 0.8328038691204882 Test: 0.8106067595950122
Alpha: 117 Train : 0.8325042561318754 Test: 0.8106873701557595
Alpha: 118 Train : 0.8322020717101932 Test: 0.8107671525374286
Alpha: 119 Train : 0.8318973159092649 Test: 0.8108461067199922
Alpha: 120 Train : 0.8315898643306087 Test: 0.8109242812985722
Alpha: 121 Train : 0.8312799660294591 Test: 0.8110015778648527
Alpha: 122 Train : 0.8309674969080169 Test: 0.811078046055354
Alpha: 123 Train : 0.8306523257994232 Test: 0.8111537336006445
Alpha: 124 Train : 0.8303347149155725 Test: 0.811228544000498
Alpha: 125 Train : 0.8300145320017064 Test: 0.811302526508727
Alpha: 126 Train : 0.8296917792068184 Test: 0.8113756803829957
Alpha: 127 Train : 0.8293663164754231 Test: 0.8114480518748999
Alpha: 128 Train : 0.8290384195488705 Test: 0.8115195488665818
Alpha: 129 Train : 0.8287079533571842 Test: 0.8115902170896442
Alpha: 130 Train : 0.8283747703082012 Test: 0.8116601017520375
Alpha: 131 Train : 0.8280391586533506 Test: 0.8117291135142941
Alpha: 132 Train : 0.8277009785176217 Test: 0.8117972963383392
Alpha: 133 Train : 0.8273600743513214 Test: 0.8118646943166663
Alpha: 134 Train : 0.827016751920332 Test: 0.8119312197807059
Alpha: 135 Train : 0.8266708579462199 Test: 0.8119969172586022
Alpha: 136 Train : 0.8263223897906083 Test: 0.8120617874347755
Alpha: 137 Train : 0.8259711936341725 Test: 0.8121258693292266
Alpha: 138 Train : 0.8256175865009792 Test: 0.8121890813322452
Alpha: 139 Train : 0.8252612405575874 Test: 0.8122515055400705
Alpha: 140 Train : 0.8249024913515863 Test: 0.8123130602354284
Alpha: 141 Train : 0.824541170866605 Test: 0.8123737869230405
Alpha: 142 Train : 0.8241771102161817 Test: 0.8124337227741054
Alpha: 143 Train : 0.8238106530253966 Test: 0.8124927911020221
Alpha: 144 Train : 0.8234416172134691 Test: 0.8125510330332001
Alpha: 145 Train : 0.8230698280784812 Test: 0.8126084835163166
Alpha: 146 Train : 0.822695650335453 Test: 0.8126650681694727
Alpha: 147 Train : 0.8223189013367542 Test: 0.8127208248289376
Alpha: 148 Train : 0.8219393940513868 Test: 0.8127757876072301
Alpha: 149 Train : 0.8215575086176155 Test: 0.812829886091909
Alpha: 150 Train : 0.8211730520262538 Test: 0.8128831566524963
Alpha: 151 Train : 0.8207858295570519 Test: 0.8129356313528258
Alpha: 152 Train : 0.820396239279749 Test: 0.8129872435786125
Alpha: 153 Train : 0.8200038659827094 Test: 0.8130380604531806
Alpha: 154 Train : 0.8196091274468162 Test: 0.8130880167485963
Alpha: 155 Train : 0.8192116048584221 Test: 0.8131371754207156
Alpha: 156 Train : 0.8188117256012322 Test: 0.8131854746070427
Alpha: 157 Train : 0.8184092752900355 Test: 0.8132329459427781
Alpha: 158 Train : 0.8180040340448276 Test: 0.8132796171081449
Alpha: 159 Train : 0.8175964432833529 Test: 0.8133254313927007
Alpha: 160 Train : 0.8171860531186917 Test: 0.813370444214595
Alpha: 161 Train : 0.8167733221546687 Test: 0.8134146014856175
Alpha: 162 Train : 0.8163577832181739 Test: 0.8134579558972018
Alpha: 163 Train : 0.8159399130313313 Test: 0.813500456125974
Alpha: 164 Train : 0.8155192326252294 Test: 0.8135421513909359
Alpha: 165 Train : 0.815096224043402 Test: 0.8135829946288722
Alpha: 166 Train : 0.8146706427093288 Test: 0.8136230103114317
Alpha: 167 Train : 0.8142422390421419 Test: 0.8136622185802584
Alpha: 168 Train : 0.8138115184156173 Test: 0.8137005774315416
Alpha: 169 Train : 0.8133779670184816 Test: 0.8137381271523585
Alpha: 170 Train : 0.812942107429732 Test: 0.8137748292356426
Alpha: 171 Train : 0.8125034086683014 Test: 0.8138107203716054
Alpha: 172 Train : 0.8120624104546714 Test: 0.8138457657584284
Alpha: 173 Train : 0.8116185647484577 Test: 0.8138799982828284
Alpha: 174 Train : 0.8111721398138245 Test: 0.8139134011642212
Alpha: 175 Train : 0.8107234361496891 Test: 0.8139459609474123
Alpha: 176 Train : 0.8102718648859881 Test: 0.8139777051490644
Alpha: 177 Train : 0.8098180239059949 Test: 0.8140086084473981
Alpha: 178 Train : 0.8093613132661212 Test: 0.8140386937712965
Alpha: 179 Train : 0.8089023413382919 Test: 0.8140679405535107
Alpha: 180 Train : 0.8084404898252785 Test: 0.8140963672263578
Alpha: 181 Train : 0.8079760625391161 Test: 0.8141239640881855
Alpha: 182 Train : 0.8075093897331422 Test: 0.8141507260035141
Alpha: 183 Train : 0.8070398161300381 Test: 0.8141766644353041
Alpha: 184 Train : 0.8065680080542685 Test: 0.81420177042239
Alpha: 185 Train : 0.8060932933491103 Test: 0.8142260504255303
Alpha: 186 Train : 0.8056160025244101 Test: 0.8142495005999422
Alpha: 187 Train : 0.805136496485426 Test: 0.814272122341565
Alpha: 188 Train : 0.8046540668179515 Test: 0.8142939142513761
Alpha: 189 Train : 0.8041690622414062 Test: 0.814314876357193
Alpha: 190 Train : 0.8036814832401014 Test: 0.8143350086553348
Alpha: 191 Train : 0.8031917275605561 Test: 0.8143543185997575
Alpha: 192 Train : 0.8026990258705378 Test: 0.8143727932940247
Alpha: 193 Train : 0.8022037529436447 Test: 0.8143904384269915
Alpha: 194 Train : 0.801705909538015 Test: 0.8144072540570484
Alpha: 195 Train : 0.8012054966196824 Test: 0.8144232402636585
Alpha: 196 Train : 0.8007025151793868 Test: 0.8144383971441083
Alpha: 197 Train : 0.8001973998845259 Test: 0.814452741947497
Alpha: 198 Train : 0.7996892947832841 Test: 0.8144662423958201
Alpha: 199 Train : 0.799178624196061 Test: 0.8144789139191477

In [53]:
l1 = Lasso(alpha=175)
l1.fit(xtrain,ytrain)
l1.score(xtrain,ytrain), l1.score(xtest,ytest)

(0.8107234361496891, 0.8139459609474123)

In [54]:
l1.coef_

array([  26.15091464,   -0.        , -173.02547787,   -0.        ,
       -363.80743898, 1247.84193718, 3867.709301  ,  391.04314711,
        451.57194036,  297.35122938,  113.32977728,   11.00742675,
         70.90090498, -160.35202828])

In [55]:
xtrain.columns

Index(['symboling', 'normalized-losses', 'make', 'fuel-type', 'body-style',
       'drive-wheels', 'engine-location', 'width', 'height', 'engine-type',
       'engine-size', 'horsepower', 'city-mpg', 'highway-mpg'],
      dtype='object')

# Ridge

In [56]:
l2 = Ridge()

l2.fit(xtrain,ytrain)
l2.score(xtrain,ytrain), l2.score(xtest,ytest)

(0.8435840853399226, 0.8075632224690534)

In [57]:
for i in range(1,100):
    l2 = Ridge(alpha=i)
    l2.fit(xtrain,ytrain)
    print(f"Alpha: {i} Train: {l2.score(xtrain,ytrain)} Test: {l2.score(xtest,ytest)}")

Alpha: 1 Train: 0.8435840853399226 Test: 0.8075632224690534
Alpha: 2 Train: 0.8356695734845092 Test: 0.8112192014374251
Alpha: 3 Train: 0.8296379623431073 Test: 0.8129299663310142
Alpha: 4 Train: 0.8250699092246866 Test: 0.8138839096972438
Alpha: 5 Train: 0.8215093087765017 Test: 0.8144682684596014
Alpha: 6 Train: 0.8186486103834851 Test: 0.8148435627265231
Alpha: 7 Train: 0.8162882573020809 Test: 0.8150880725612083
Alpha: 8 Train: 0.8142964263180522 Test: 0.8152447305071577
Alpha: 9 Train: 0.812583522729097 Test: 0.8153392574436447
Alpha: 10 Train: 0.8110868722186453 Test: 0.8153881483263244
Alpha: 11 Train: 0.8097614513602518 Test: 0.8154025610279507
Alpha: 12 Train: 0.8085741366835052 Test: 0.815390369370157
Alpha: 13 Train: 0.8075000372738094 Test: 0.8153573212892009
Alpha: 14 Train: 0.8065200924084592 Test: 0.8153077294072231
Alpha: 15 Train: 0.8056194580416448 Test: 0.8152449025615435
Alpha: 16 Train: 0.804786398073303 Test: 0.815171426484327
Alpha: 17 Train: 0.8040115065187471 Test: 0.8150893527689591
Alpha: 18 Train: 0.8032871514648678 Test: 0.815000329943746
Alpha: 19 Train: 0.8026070707304607 Test: 0.8149056967781798
Alpha: 20 Train: 0.8019660732378706 Test: 0.8148065502246252
Alpha: 21 Train: 0.801359815307779 Test: 0.8147037958811016
Alpha: 22 Train: 0.8007846308878104 Test: 0.8145981861304736
Alpha: 23 Train: 0.8002374011637663 Test: 0.8144903494117506
Alpha: 24 Train: 0.7997154533085166 Test: 0.8143808129927238
Alpha: 25 Train: 0.799216481051841 Test: 0.8142700209017133
Alpha: 26 Train: 0.798738481776389 Test: 0.814158348199973
Alpha: 27 Train: 0.7982797062609374 Test: 0.8140461124511114
Alpha: 28 Train: 0.797838618196957 Test: 0.8139335830177279
Alpha: 29 Train: 0.7974138613263302 Test: 0.8138209886554858
Alpha: 30 Train: 0.7970042325726074 Test: 0.8137085237599928
Alpha: 31 Train: 0.7966086599233981 Test: 0.8135963535381273
Alpha: 32 Train: 0.7962261841073035 Test: 0.8134846183137229
Alpha: 33 Train: 0.7958559433227879 Test: 0.8133734371313504
Alpha: 34 Train: 0.795497160438075 Test: 0.8132629107871044
Alpha: 35 Train: 0.7951491322043274 Test: 0.8131531243887078
Alpha: 36 Train: 0.7948112201189454 Test: 0.8130441495267421
Alpha: 37 Train: 0.7944828426489629 Test: 0.8129360461229014
Alpha: 38 Train: 0.7941634685815294 Test: 0.8128288640086807
Alpha: 39 Train: 0.7938526113131447 Test: 0.8127226442780505
Alpha: 40 Train: 0.7935498239245844 Test: 0.8126174204498452
Alpha: 41 Train: 0.7932546949164722 Test: 0.8125132194693001
Alpha: 42 Train: 0.7929668445028013 Test: 0.8124100625731352
Alpha: 43 Train: 0.7926859213776738 Test: 0.8123079660384829
Alpha: 44 Train: 0.7924115998850196 Test: 0.8122069418326152
Alpha: 45 Train: 0.7921435775328082 Test: 0.8121069981777134
Alpha: 46 Train: 0.7918815728028478 Test: 0.8120081400426532
Alpha: 47 Train: 0.7916253232151242 Test: 0.8119103695719458
Alpha: 48 Train: 0.7913745836120685 Test: 0.8118136864604221
Alpha: 49 Train: 0.7911291246334808 Test: 0.8117180882809595
Alpha: 50 Train: 0.7908887313572605 Test: 0.8116235707715008
Alpha: 51 Train: 0.7906532020847593 Test: 0.811530128086684
Alpha: 52 Train: 0.790422347252662 Test: 0.8114377530186672
Alpha: 53 Train: 0.7901959884558676 Test: 0.8113464371910787
Alpha: 54 Train: 0.7899739575680174 Test: 0.8112561712294913
Alpha: 55 Train: 0.7897560959481498 Test: 0.8111669449113401
Alpha: 56 Train: 0.7895422537235102 Test: 0.811078747297838
Alpha: 57 Train: 0.7893322891398644 Test: 0.810991566850071
Alpha: 58 Train: 0.7891260679717906 Test: 0.8109053915312063
Alpha: 59 Train: 0.7889234629863807 Test: 0.8108202088964673
Alpha: 60 Train: 0.7887243534546109 Test: 0.8107360061723381
Alpha: 61 Train: 0.7885286247053476 Test: 0.8106527703262635
Alpha: 62 Train: 0.7883361677175604 Test: 0.8105704881279608
Alpha: 63 Train: 0.788146878746856 Test: 0.8104891462033195
Alpha: 64 Train: 0.7879606589828784 Test: 0.8104087310817414
Alpha: 65 Train: 0.7877774142345472 Test: 0.8103292292376811
Alpha: 66 Train: 0.7875970546404287 Test: 0.810250627127044
Alpha: 67 Train: 0.7874194944018464 Test: 0.8101729112190272
Alpha: 68 Train: 0.7872446515365975 Test: 0.8100960680239271
Alpha: 69 Train: 0.7870724476513741 Test: 0.8100200841173538
Alpha: 70 Train: 0.7869028077311929 Test: 0.8099449461612759
Alpha: 71 Train: 0.7867356599443072 Test: 0.8098706409222322
Alpha: 72 Train: 0.786570935461244 Test: 0.8097971552870418
Alpha: 73 Train: 0.7864085682867382 Test: 0.8097244762762873
Alpha: 74 Train: 0.7862484951034632 Test: 0.8096525910558195
Alpha: 75 Train: 0.786090655126568 Test: 0.8095814869465082
Alpha: 76 Train: 0.7859349899681198 Test: 0.8095111514324311
Alpha: 77 Train: 0.7857814435106489 Test: 0.8094415721676851
Alpha: 78 Train: 0.7856299617890594 Test: 0.8093727369819631
Alpha: 79 Train: 0.7854804928802397 Test: 0.8093046338850487
Alpha: 80 Train: 0.7853329867997778 Test: 0.8092372510703418
Alpha: 81 Train: 0.785187395405222 Test: 0.8091705769175339
Alpha: 82 Train: 0.7850436723053973 Test: 0.8091045999945259
Alpha: 83 Train: 0.7849017727753196 Test: 0.8090393090586788
Alpha: 84 Train: 0.78476165367629 Test: 0.8089746930574779
Alpha: 85 Train: 0.7846232733807957 Test: 0.8089107411286773
Alpha: 86 Train: 0.7844865917018647 Test: 0.8088474425999875
Alpha: 87 Train: 0.7843515698265607 Test: 0.8087847869883673
Alpha: 88 Train: 0.7842181702533257 Test: 0.8087227639989625
Alpha: 89 Train: 0.7840863567329016 Test: 0.8086613635237426
Alpha: 90 Train: 0.7839560942125869 Test: 0.8086005756398729
Alpha: 91 Train: 0.7838273487835999 Test: 0.8085403906078545
Alpha: 92 Train: 0.7837000876313458 Test: 0.8084807988694744
Alpha: 93 Train: 0.783574278988386 Test: 0.8084217910455798
Alpha: 94 Train: 0.783449892089942 Test: 0.8083633579337144
Alpha: 95 Train: 0.7833268971317657 Test: 0.808305490505633
Alpha: 96 Train: 0.7832052652302253 Test: 0.8082481799047188
Alpha: 97 Train: 0.7830849683844654 Test: 0.808191417443313
Alpha: 98 Train: 0.7829659794405157 Test: 0.8081351945999872
Alpha: 99 Train: 0.7828482720572245 Test: 0.8080795030167582

In [58]:
l2 = Ridge(alpha=7)
l2.fit(xtrain,ytrain)
l2.score(xtrain,ytrain),l2.score(xtest,ytest)

(0.8162882573020809, 0.8150880725612083)

In [59]:
l2.coef_

array([ 2.31139279e+02, -3.29204695e+00, -1.90126861e+02, -1.01249352e+03,
       -6.04047656e+02,  1.71736131e+03,  3.40160377e+03,  3.91530395e+02,
        5.57861287e+02,  5.13867686e+02,  1.02968876e+02,  2.01227011e+01,
        2.13425523e+02, -2.79915768e+02])

# Elastic Net

In [60]:
en = ElasticNet(alpha=1)
en.fit(xtrain,ytrain)
en.score(xtrain,ytrain), en.score(xtest,ytest)

(0.7866253599240465, 0.8098264817256128)