# Problem Statement:
- Goal is to create a classification model which can predict all positive classes correctly.(Recall Should be high.)

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
plt.rcParams['figure.figsize'] = (10,5)
plt.rcParams['figure.dpi'] = 250
import warnings
warnings.filterwarnings('ignore')
%matplotlib inline

In [4]:
df = pd.read_csv('https://raw.githubusercontent.com/aishwaryamate/Datasets/main/Client.csv',
                index_col=0)
df

      CASENUM  ATTORNEY  CLMSEX  CLMINSUR  SEATBELT  CLMAGE    LOSS
0           5         1     0.0       1.0       0.0    50.0  34.940
1           3         0     1.0       0.0       0.0    18.0   0.891
2          66         0     0.0       1.0       0.0     5.0   0.330
3          70         1     0.0       1.0       1.0    31.0   0.037
4          96         0     0.0       1.0       0.0    30.0   0.038
...       ...       ...     ...       ...       ...     ...     ...
1335    34100         0     0.0       1.0       0.0     NaN   0.576
1336    34110         1     1.0       1.0       0.0    46.0   3.705
1337    34113         0     1.0       1.0       0.0    39.0   0.099
1338    34145         1     1.0       0.0       0.0     8.0   3.177
1339    34153         0     1.0       1.0       0.0    30.0   0.688

[1340 rows x 7 columns]

In [5]:
df.drop(columns=['CASENUM'], inplace=True)

In [6]:
df

      ATTORNEY  CLMSEX  CLMINSUR  SEATBELT  CLMAGE    LOSS
0            1     0.0       1.0       0.0    50.0  34.940
1            0     1.0       0.0       0.0    18.0   0.891
2            0     0.0       1.0       0.0     5.0   0.330
3            1     0.0       1.0       1.0    31.0   0.037
4            0     0.0       1.0       0.0    30.0   0.038
...        ...     ...       ...       ...     ...     ...
1335         0     0.0       1.0       0.0     NaN   0.576
1336         1     1.0       1.0       0.0    46.0   3.705
1337         0     1.0       1.0       0.0    39.0   0.099
1338         1     1.0       0.0       0.0     8.0   3.177
1339         0     1.0       1.0       0.0    30.0   0.688

[1340 rows x 6 columns]

In [7]:
df.describe()

,ATTORNEY,CLMSEX,CLMINSUR,SEATBELT,CLMAGE,LOSS
count,1340.000000,1328.000000,1299.000000,1292.000000,1151.000000,1340.000000
mean,0.511194,0.558735,0.907621,0.017028,28.414422,3.806307
std,0.500061,0.496725,0.289671,0.129425,20.304451,10.636903
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,1.000000,0.000000,9.000000,0.400000
50%,1.000000,1.000000,1.000000,0.000000,30.000000,1.069500
75%,1.000000,1.000000,1.000000,0.000000,43.000000,3.781500
max,1.000000,1.000000,1.000000,1.000000,95.000000,173.604000

In [ ]:
#Check missing values

In [8]:
df.isna().sum()

ATTORNEY      0
CLMSEX       12
CLMINSUR     41
SEATBELT     48
CLMAGE      189
LOSS          0
dtype: int64

In [ ]:
#Missing value imputation

In [9]:
df.head()

   ATTORNEY  CLMSEX  CLMINSUR  SEATBELT  CLMAGE    LOSS
0         1     0.0       1.0       0.0    50.0  34.940
1         0     1.0       0.0       0.0    18.0   0.891
2         0     0.0       1.0       0.0     5.0   0.330
3         1     0.0       1.0       1.0    31.0   0.037
4         0     0.0       1.0       0.0    30.0   0.038

In [10]:
from sklearn.impute import SimpleImputer

In [12]:
si = SimpleImputer(strategy='most_frequent')

In [13]:
df.head()

   ATTORNEY  CLMSEX  CLMINSUR  SEATBELT  CLMAGE    LOSS
0         1     0.0       1.0       0.0    50.0  34.940
1         0     1.0       0.0       0.0    18.0   0.891
2         0     0.0       1.0       0.0     5.0   0.330
3         1     0.0       1.0       1.0    31.0   0.037
4         0     0.0       1.0       0.0    30.0   0.038

In [14]:
df.iloc[:,1:4]

      CLMSEX  CLMINSUR  SEATBELT
0        0.0       1.0       0.0
1        1.0       0.0       0.0
2        0.0       1.0       0.0
3        0.0       1.0       1.0
4        0.0       1.0       0.0
...      ...       ...       ...
1335     0.0       1.0       0.0
1336     1.0       1.0       0.0
1337     1.0       1.0       0.0
1338     1.0       0.0       0.0
1339     1.0       1.0       0.0

[1340 rows x 3 columns]

In [15]:
si.fit_transform(df.iloc[:,1:4])

array([[0., 1., 0.],
       [1., 0., 0.],
       [0., 1., 0.],
       ...,
       [1., 1., 0.],
       [1., 0., 0.],
       [1., 1., 0.]])

In [16]:
df.iloc[:,1:4] = si.fit_transform(df.iloc[:,1:4])

In [17]:
df.isna().sum()

ATTORNEY      0
CLMSEX        0
CLMINSUR      0
SEATBELT      0
CLMAGE      189
LOSS          0
dtype: int64

In [18]:
df['CLMAGE'].fillna(df['CLMAGE'].median(), inplace=True)

In [19]:
df.isna().sum()

ATTORNEY    0
CLMSEX      0
CLMINSUR    0
SEATBELT    0
CLMAGE      0
LOSS        0
dtype: int64

In [ ]:
#Define x and y

In [ ]:
df

In [ ]:
x = df.iloc[:,1:]
y = df['ATTORNEY']
y

In [ ]:
x

# Model Building

In [ ]:
#Split the data.

In [ ]:
df.head(10)

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
xtrain,xtest,ytrain,ytest = train_test_split(x,y,test_size=0.2, random_state=42)

In [ ]:
xtrain

In [ ]:
ytrain

In [ ]:
xtest

In [ ]:
ytest

In [ ]:
from sklearn.linear_model import LogisticRegression

In [ ]:
lg = LogisticRegression()
lg.fit(xtrain,ytrain)
lg.coef_

In [ ]:
xtest

In [ ]:
ytest

In [ ]:
ypred = lg.predict(xtest)
ypred

In [ ]:
print(ytest[:25].values) #Actual
print(ypred[:25]) #Predicted

In [ ]:
from sklearn.metrics import confusion_matrix, classification_report

In [ ]:
confusion_matrix(ytest,ypred) #Sequence -> tn, fp, fn, tp

In [ ]:
sns.heatmap(confusion_matrix(ytest,ypred),annot=True, fmt='g')

In [ ]:
print(classification_report(ytest,ypred))